<p-carousel [value]="enquiryFormDisplay.enquiryForms" [numVisible]="1" [numScroll]="1">
    <ng-template let-enquiryForm pTemplate="item">
        <p-card header="{{ enquiryForm.fullName }}">
            <!-- <div>
                    <table>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.arrivalDate}}
                            </td>
                            <td>{{enquiryForm.arrivalDate + " "+ enquiryForm.arrivalTime}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.departureDate}}
                            </td>
                            <td>{{enquiryForm.departureDate + " "+ enquiryForm.departureTime}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.howManyMembers
                                }}
                            </td>
                            <td>{{ enquiryForm.howManyMembers}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.detailsOfMembers
                                }}
                            </td>
                            <td>{{ enquiryForm.detailsOfMembers}}</td>
                        </tr>
                    <br>
                    <tr>
                        <td style="font-weight: bold;">
                            {{enquiryFormDisplay.configs.columnNames.acOrNonAc }}
                        </td>
                        <td>{{enquiryForm.acOrNonAc}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            {{enquiryFormDisplay.configs.columnNames.noOfRooms }}
                        </td>
                        <td>{{ enquiryForm.noOfRooms}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            {{enquiryFormDisplay.configs.columnNames.age}}
                        </td>
                        <td>{{enquiryForm.age}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td style="font-weight: bold;">
                            {{enquiryFormDisplay.configs.columnNames.gender}}
                        </td>
                        <td>{{enquiryForm.gender}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            {{enquiryFormDisplay.configs.columnNames.emailAddress
                            }}
                        </td>
                        <td>{{ enquiryForm.emailAddress}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">
                            {{enquiryFormDisplay.configs.columnNames.remarks
                            }}
                        </td>
                        <td>{{ enquiryForm.remarks}}</td>
                    </tr>
                </table>
            </div>
            <br> -->
            <div class="row">
                <div class="column">
                    <table>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.arrivalDate}}
                            </td>
                            <td>{{enquiryForm.arrivalDate + " "+ enquiryForm.arrivalTime}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.departureDate}}
                            </td>
                            <td>{{enquiryForm.departureDate + " "+ enquiryForm.departureTime}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.acOrNonAc }}
                            </td>
                            <td>{{enquiryForm.acOrNonAc}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.noOfRooms }}
                            </td>
                            <td>{{ enquiryForm.noOfRooms}}</td>
                        </tr>

                    </table>
                </div>
                <div class="column">
                    <table>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.howManyMembers
                                }}
                            </td>
                            <td>{{ enquiryForm.howManyMembers}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.detailsOfMembers
                                }}
                            </td>
                            <td>{{ enquiryForm.detailsOfMembers}}</td>
                        </tr>
                    </table>
                </div>
                <div class="column">
                    <table>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.age}}
                            </td>
                            <td>{{enquiryForm.age}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.gender}}
                            </td>
                            <td>{{enquiryForm.gender}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.emailAddress
                                }}
                            </td>
                            <td>{{ enquiryForm.emailAddress}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">
                                {{enquiryFormDisplay.configs.columnNames.remarks
                                }}
                            </td>
                            <td>{{ enquiryForm.remarks}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="content">
                <span><p-button label="Waitlist" (onClick)="processEnquiry(enquiryForm.emailAddress)"></p-button></span>
                <span><p-button label="AllocateRoom"
                        (onClick)="processEnquiry(enquiryForm.emailAddress)"></p-button></span>
            </div>
        </p-card>
    </ng-template>
    <ng-template pTemplate="footer">
        <p>Footer content</p>
    </ng-template>
</p-carousel>