<p>Enquiry Status - Sadhguru padham</p>
<div *ngIf="enquiryFormDisplay.enquiryForms">
  <p-table [value]="enquiryFormDisplay.enquiryForms" [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
          <tr>
              <!-- <th *ngFor="let column of enquiryFormDisplay.configs.columns; ">{{column}}</th> -->
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.timestamp == true">{{enquiryFormDisplay.configs.columnNames.timestamp}}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.emailAddress == true">{{ enquiryFormDisplay.configs.columnNames.emailAddress }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.fullName == true">{{enquiryFormDisplay.configs.columnNames.fullName }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.age == true">{{enquiryFormDisplay.configs.columnNames.age }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.gender == true">{{enquiryFormDisplay.configs.columnNames.gender }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.whatsappNumber == true">{{enquiryFormDisplay.configs.columnNames.whatsappNumber }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.address == true">{{enquiryFormDisplay.configs.columnNames.address }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.howManyMembers == true" style="width: 5%;">{{enquiryFormDisplay.configs.columnNames.howManyMembers }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.noOfRooms == true" style="width: 5%;">{{enquiryFormDisplay.configs.columnNames.noOfRooms }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.acOrNonAc == true">{{enquiryFormDisplay.configs.columnNames.acOrNonAc }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.arrivalDate == true">{{enquiryFormDisplay.configs.columnNames.arrivalDate }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.arrivalTime == true">{{enquiryFormDisplay.configs.columnNames.arrivalTime }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.departureDate == true">{{enquiryFormDisplay.configs.columnNames.departureDate }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.departureTime == true">{{enquiryFormDisplay.configs.columnNames.departureTime }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.detailsOfMembers == true">{{enquiryFormDisplay.configs.columnNames.detailsOfMembers }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.remarks == true">{{enquiryFormDisplay.configs.columnNames.remarks }}</th>
              <th *ngIf="enquiryFormDisplay.configs.showHideConfig.booked == true">{{ enquiryFormDisplay.configs.columnNames.booked }}</th>        

              <!-- <th *ngIf="enquiryFormDisplay.configs.showHideConfig.timestamp == true">enquiryFormDisplay.configs</th>
              <th>emailAddress</th>
              <th>fullName</th>
              <th>age</th>
              <th>gender</th>
              <th>whatsapp#</th>
              <th>address</th>
              <th style="width: 5%;">#members</th>
              <th style="width: 5%;">Rooms</th>
              <th>Type</th>
              <th>arrivalDate</th>
              <th>arrivalTime</th>
              <th>departureDate</th>
              <th>departureTime</th>
              <th>detailsOfMembers</th> 
              <th>remarks</th>                            -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-enquiryForm>
          <tr>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.timestamp == true">{{ enquiryForm.timestamp}}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.emailAddress == true">{{ enquiryForm.emailAddress }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.fullName == true">{{ enquiryForm.fullName }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.age == true">{{ enquiryForm.age }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.gender == true">{{ enquiryForm.gender }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.whatsappNumber == true">{{ enquiryForm.whatsappNumber }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.address == true">{{ enquiryForm.address }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.howManyMembers == true" style="width: 5%;">{{ enquiryForm.howManyMembers }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.noOfRooms == true" style="width: 5%;">{{ enquiryForm.noOfRooms }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.acOrNonAc == true">{{ enquiryForm.acOrNonAc }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.arrivalDate == true">{{ enquiryForm.arrivalDate }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.arrivalTime == true">{{ enquiryForm.arrivalTime }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.departureDate == true">{{ enquiryForm.departureDate }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.departureTime == true">{{ enquiryForm.departureTime }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.detailsOfMembers == true">{{ enquiryForm.detailsOfMembers }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.remarks == true">{{ enquiryForm.remarks }}</td>
              <td *ngIf="enquiryFormDisplay.configs.showHideConfig.booked == true">{{ enquiryForm.booked }}</td>
          </tr>
      </ng-template>
  </p-table>

</div>
