<app-header></app-header>
<!-- <div class="toolbar" role="banner"> -->
<!-- <p-menubar [model]="items"> -->
<!-- <ng-template pTemplate="start">
      <img src="/assets/icons/chakralogo.png" height="80" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Search" class="w-full" />
    </ng-template> -->
<!-- <nav>
      <a routerLink="/enquiry" routerLinkActive="active" ariaCurrentWhenActive="page">Enquiry</a>
      <a routerLink="/roomstatus" routerLinkActive="active" ariaCurrentWhenActive="page">Room Status</a>
    </nav> -->
<!-- </p-menubar> -->
<!-- <div class="content" role="main">
    <p-tabView>
      <p-tabPanel header="Enquiry status">
        <app-enquirystatus></app-enquirystatus>
      </p-tabPanel>
      <p-tabPanel header="Room status">
         <app-roomstatus></app-roomstatus> 
      </p-tabPanel>
    </p-tabView>
  </div> -->

<!-- </div> -->

<router-outlet></router-outlet>
<div>
  <app-footer></app-footer>
</div>