<div>
    <div *ngIf="dates.length" style="width: 80;">
        <p-table [value]="dates" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date</th>
                    <th>B1</th>
                    <th>B2</th>
                    <th>B3</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-date>
                <tr>
                    <td>{{ date | date:"dd/MM" }}</td>
                    <td style=" background-color: green; width: 5%;">{{ "Y" }}</td>
                    <td style=" background-color: grey; width: 5%;">{{ "N" }}</td>
                    <td style=" background-color: green; width: 5%;">{{ "Y" }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>